extends layout

block content
    link(rel='stylesheet', href='/stylesheets/index.css')
    div.content
        hr
        a.middle(href='/login/')
            p
                | angry
                br
                | bot