extends layout

block content
    link(rel='stylesheet', href='/stylesheets/login.css')
    div.content
        h2 go to the dark side
        form(action='/login', method='POST', id='login')
            input(type='text' name='username' placeholder='username' required=true)
            input(type='password' name='password' placeholder='password' required=true)
            input(type='submit' value='Log In' id='submit')
    script(type='text/babel' src='/javascripts/login.js')