extends layout

block content
    link(rel='stylesheet', href='/stylesheets/main.css')
    div.header
        div(style='visibility: hidden')
            a(href='/register') register
            a(href='/logout') Log Out
        a#logo(href='/main') ab
        div
            a(href='/register') register
            a(href='/logout') Log Out
    div.content
        div.answer
            input(type = 'text' id = 'tags' placeholder='Enter your hashtag without \'#\'')
            button(class = 'start' type = 'submit' id = 'btnStartHashtag') Start
        //label(id = 'currentStatus') status
        div.progress
            div.statusbar
                label(id = 'count') count
                label(id = 'invalid') invalid
                label(id = 'unique') unique
                label(id = 'repeat') repeat
                label(id = 'time') time
            div.output
                textarea(id = 'queryOutput' spellcheck="false" readonly=true)
                button(class = 'start' type = 'submit' id = 'download') -DOWNLOAD-
    script(src = '/javascripts/socket.js')