extends layout

block content
    link(rel='stylesheet', href='/stylesheets/register.css')
    div.header
        a(style='visibility: hidden') Log Out
        a#logo(href='/main') ab
        a(href='/logout') Log Out
    div.content
        form(action='/register' method='POST' id='register')
            label(for='username') Enter username
            input(type='text' id='username' placeholder='username' name='username' required=true)
            label(for='password') Enter password
            input(type='password' id='password' placeholder='A-z 7_!#() min - 8 symbols' name='password' required=true)
            label(for='password') Repeat password
            input(type='password' id='r-password' placeholder='password')
            div(style='width: 100%; display: flex; justify-content: center')
                input(type='submit' id='submit' value='Create user')
    script(src='/javascripts/validate.js')