.content
  width: 100vw
  height: 100vh
  display: flex
  align-items: center
  justify-content: start
  hr
    position: absolute
    margin-top: 5%
    width: 0
    -webkit-animation: line 1s linear forwards
    -o-animation: line 1s linear forwards
    animation: line 1s linear forwards
  .middle
    left: 50%
    text-decoration: none
    min-width: 10%
    margin-left: -5%
    background: #000
    position: relative
    -webkit-border-radius: 50%
    -moz-border-radius: 50%
    border-radius: 50%
    display: flex
    align-items: center
    justify-content: center
    cursor: pointer
    -webkit-transition: all 0.2s
    -moz-transition: all 0.2s
    -ms-transition: all 0.2s
    -o-transition: all 0.2s
    transition: all 0.2s
    -webkit-animation: roll 1s 1 linear forwards
    -o-animation: roll 1s 1 linear forwards
    animation: roll 1s 1 linear forwards
    p
      font-size: 36px
      -webkit-user-select: none
      -moz-user-select: none
      -ms-user-select: none
    &:before
      content: ""
      display: block
      padding-top: 100%
    p
      color: #fff
      text-align: center
      margin: 0
      padding: 0

@keyframes roll
  from
    left: 0
  50%
    transform: rotate(180deg)
  to
    transform: rotate(360deg)
    left: 50%


@keyframes line
  from
    width: 0
  to
    width: 50%

@keyframes zoom
  from
    transform: scale(1)
  to
    transform: scale(1.2)
