.content {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.content h2 {
  font-weight: 200;
}
.content #login {
  display: flex;
  flex-wrap: wrap;
}
.content #login input {
  height: 24px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.content #login input:focus {
  outline: none;
}
.content #login input[type=text], .content #login input[type=password] {
  margin: 0 5px;
  padding: 0 4px;
}
.content #login input[type=submit] {
  font-family: Tradesmith;
  border: none;
  background: #000000;
  color: #fff;
  width: 80px;
  cursor: pointer;
  -webkit-transition: all 0.1s;
  -moz-transition: all 0.1s;
  -ms-transition: all 0.1s;
  -o-transition: all 0.1s;
  transition: all 0.1s;
}
.content #login input[type=submit]:hover {
  transform: scale(1.05);
  -webkit-transition: all 0.1s;
  -moz-transition: all 0.1s;
  -ms-transition: all 0.1s;
  -o-transition: all 0.1s;
  transition: all 0.1s;
}

/*# sourceMappingURL=login.css.map */
