.content
  width: 100vw
  height: 100vh
  display: flex
  flex-direction: column
  align-items: center
  justify-content: center
  h2
    font-weight: 200
  #login
    display: flex
    flex-wrap: wrap
    input
      height: 24px
      -webkit-box-sizing: border-box
      -moz-box-sizing: border-box
      box-sizing: border-box
      &:focus
        outline: none
      &[type=text], &[type=password]
        margin: 0 5px
        padding: 0 4px
      &[type=submit]
        font-family: Tradesmith

        border: none
        background: #000000
        color: #fff
        width: 80px
        cursor: pointer
        -webkit-transition: all 0.1s
        -moz-transition: all 0.1s
        -ms-transition: all 0.1s
        -o-transition: all 0.1s
        transition: all 0.1s
        &:hover
          transform: scale(1.05)
          -webkit-transition: all 0.1s
          -moz-transition: all 0.1s
          -ms-transition: all 0.1s
          -o-transition: all 0.1s
          transition: all 0.1s