.content
  width: 100%
  height: 100%
  display: flex
  align-items: center
  justify-content: center
  flex-direction: column
  .answer
    width: 100%
    height: 50px
    display: flex
    align-items: center
    justify-content: center
    border-bottom: 1px solid #000
    input
      height: 30px
      width: 30%
      padding: 0 0 0 4px
      -webkit-box-sizing: border-box
      -moz-box-sizing: border-box
      box-sizing: border-box
      &:focus
        outline: none
    button
      margin-left: 20px
      padding: 0 30px
  .progress
    width: 100%
    height: 100%
    display: flex
    flex-direction: column
    align-items: center
    padding-top: 20px
    .statusbar
      padding-top: 10px
      width: 80%
      display: flex
      justify-content: space-around
    .output
      width: 80%
      padding-top: 10px
      display: flex
      flex-direction: column
      align-items: center
      textarea
        width: 100%
        height: 70vh
        &:focus
          outline: none
      button
        margin-top: 10px
        width: 300px
.start, .stop
  background: #000
  color: #ffffff
  border: none
  font-family: Tradesmith
  letter-spacing: 2px
  height: 30px
  -webkit-transition: all 0.1s
  -moz-transition: all 0.1s
  -ms-transition: all 0.1s
  -o-transition: all 0.1s
  transition: all 0.1s
  &:hover
    -webkit-transform: scale(1.01)
    -moz-transform: scale(1.01)
    -ms-transform: scale(1.01)
    -o-transform: scale(1.01)
    transform: scale(1.01)
    -webkit-transition: all 0.1s
    -moz-transition: all 0.1s
    -ms-transition: all 0.1s
    -o-transition: all 0.1s
    transition: all 0.1s
    cursor: pointer
  &:focus
    outline: none

.stop:hover
  color: #890906