.content {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.content #register {
  height: 30%;
  width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-left: 6px solid #000;
  padding: 10px;
}
.content #register label {
  padding-top: 10px;
}
.content #register input:focus {
  outline: none;
}
.content #register input[type=text], .content #register input[type=password] {
  height: 24px;
  padding-left: 4px;
  margin-top: 2px;
}
.content #register input[type=submit] {
  width: 80%;
  margin-top: 20px;
  height: 30px;
  border: none;
  background: #000;
  color: #ffffff;
  font-family: Tradesmith;
  cursor: pointer;
  -webkit-transition: all 0.1s;
  -moz-transition: all 0.1s;
  -ms-transition: all 0.1s;
  -o-transition: all 0.1s;
  transition: all 0.1s;
}
.content #register input[type=submit]:hover {
  -webkit-transform: scale(1.02);
  -moz-transform: scale(1.02);
  -ms-transform: scale(1.02);
  -o-transform: scale(1.02);
  transform: scale(1.02);
  -webkit-transition: all 0.1s;
  -moz-transition: all 0.1s;
  -ms-transition: all 0.1s;
  -o-transition: all 0.1s;
  transition: all 0.1s;
}

/*# sourceMappingURL=register.css.map */
