@font-face
  font-family: Tradesmith
  src: url('fonts/Tradesmith/TradesmithStamp.otf')
body
  font-family: Tradesmith
  margin: 0
  padding: 0
  overflow-x: hidden
.dashboard
  width: 100vw
  height: 100vh
  display: flex
  align-items: center
  justify-content: center
  background: #a2a26d
  h1
    font-weight: 400
.header
  width: 100%
  height: 50px
  border-bottom: 1px solid #000
  display: flex
  align-items: center
  justify-content: space-between
  a
    text-decoration: none
    color: #000
    padding: 4px 10px
    border: 1px solid #000
    margin-right: 20px
    -webkit-transition: all 0.1s
    -moz-transition: all 0.1s
    -ms-transition: all 0.1s
    -o-transition: all 0.1s
    transition: all 0.1s
    &:hover
      background: #000
      color: #fff
      cursor: pointer
      -webkit-transition: all 0.1s
      -moz-transition: all 0.1s
      -ms-transition: all 0.1s
      -o-transition: all 0.1s
      transition: all 0.1s

#logo
  margin: 0
  padding: 0
  border: none
  -webkit-border-radius: 50%
  -moz-border-radius: 50%
  border-radius: 50%
  height: 40px
  width: 40px
  display: flex
  justify-content: center
  align-items: center
  background: #000
  color: #fff
  cursor: pointer
  text-decoration: none
  -webkit-transition: all 0.1s
  -moz-transition: all 0.1s
  -ms-transition: all 0.1s
  -o-transition: all 0.1s
  transition: all 0.1s
  &:hover
    -webkit-transform: scale(1.1)
    -moz-transform: scale(1.1)
    -ms-transform: scale(1.1)
    -o-transform: scale(1.1)
    transform: scale(1.1)
    -webkit-transition: all 0.1s
    -moz-transition: all 0.1s
    -ms-transition: all 0.1s
    -o-transition: all 0.1s
    transition: all 0.1s